:root {
  --header-text-color: #f7f9fb;
  --header-text-color-hover: #8fc1e3;
  --header-main-logo-color: #8fc1e3;
  --header-background-color: #5085a5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-background-color);
  padding: 20px;
  margin: 0px;
}

.navbar ul {
  margin: 0;
}

.navbar a {
  text-decoration: none;
  color: var(--header-text-color);
}

.navbar a:hover {
  color: var(--header-text-color-hover);
}

.navbar-logo {
  font-size: 20px;
}

.navbar-logo * {
  padding: 0 5px;
}

.navbar-logo i {
  color: var(--header-main-logo-color);
}

.navbar-menu {
  display: flex;
  list-style: none;
  padding-left: 0;
  font-size: 20px;
}

.navbar-menu li {
  padding: 0 20px;
}

.navbar-icon {
  display: flex;
  list-style: none;
  padding-left: 0;

  font-size: 20px;
}

.navbar-icon li {
  padding: 0 10px;
}

.navbar-toggle {
  display: none;
  position: absolute;
  right: 30px;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  /*Before applyting List width as 100%, why list does not align left side?*/
  .navbar-menu li {
    width: 100%;
    text-align: center;
    padding: 5px 0;
  }

  .navbar-icon {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-menu.unfolded,
  .navbar-icon.unfolded {
    display: flex;
    margin-top: 20px;
  }
}
