:root {
  --footer-text-color: #f7f9fb;
  --footer-text-color-hover: #8fc1e3;
  --footer-mainlogo-color: #8fc1e3;
  --footer-background-color: #5085a5;
}

.footBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--footer-background-color);
  padding: 20px;
  margin: 0px;
}

.footBar-logo {
  font-size: 20px;
  color: var(--footer-text-color);

  display: flex;
}

.footBar-logo * {
  padding: 0 5px;
}

.footBar-logo i {
  color: var(--footer-mainlogo-color);
}

.footBar ul {
  margin: 0;
}

.footBar a {
  text-decoration: none;
  color: var(--footer-text-color);
}

.footBar a:hover {
  color: var(--footer-text-color-hover);
}

.footBar-info {
  margin-left: 0;
  font-size: 20px;
  display: flex;
  list-style: none;
}

.footBar-info li {
  padding: 0 10px;
}

@media screen and (max-width: 768px) {
  .footBar-info {
    display: none;
  }
}
